
p {
	margin-left: 40px;
  color: blue;
}
h3 {
	color: green;
}

h1 {
    width: 50%;
    text-align: center;
}

blink marquee {
    color: red;
     font-size: 40px;
 }

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.subtitle {
    font-size: 24px;
    font-weight: 700;
    width: 300;
    text-align: center;
}

a {
    background: white;
    padding: 10px 12px;
    border-radius: 16px;
    color: green;
  }

img {
    width: 400px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

img:hover {
    width: 100%;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;

}

html {
    color: white;
    font-family: 'Readex Pro', sans-serif;
    background-color: #3D3D90;
}

body {
    /* background: radial-gradient(circle at bottom, navy 0, black 100%); */
    margin: 0;
    margin-left: 20px;
  }

  button {
    border-radius: 8px;
    padding: 10px 20px;
    background: white;
    border: green solid 2px;
    color: green;
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: 1px 2px 2px rgba(255,255,255,.5);
    cursor: pointer;
  }

